.address {
 
  width: 100%;

  height: 790px;
}
.banner {
  width: 100%;
  background-image: url("https://online.kfc.co.in/static/media/offer_deals_banner.777f20e1.svg");
  height: 250px;
}
.deals-image-text {
    color: white;
    font-weight: 700;
    font-size: 74px;
    text-align: center;
    letter-spacing: 2px;
}
.stripes {
  margin-left: 250px;
}
.hotncrispy {
  
  height: 250px;
  width: 25%;
  margin-left: 250px;
}
.hotncrispy img {
  height: 250px;
}
.offertitle {
  margin-left: 250px;
}
.offers-deals-product-title {
  color: rgb(228, 0, 43);
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 38px;
  line-height: 30px;
  font-family: National 2 Condensed;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 2px;
  padding: 0px 15px 2px;
}
.offers-deals-product-desc {
  font-family: National 2 Condensed;
}
.view-details-btn {
  border: none;
  background: none;
  outline: none;
  font-family: National2-Medium;
  text-decoration: underline;
  padding: 1px 10px 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #494949;
  margin: auto 0 auto auto;
  border-radius: 3px;
  cursor: pointer;
}
.redeem-btn {
  padding: 11px;
  width: 42.5%;
  border-radius: 200px;
  height: 44px;
  text-align: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  outline: none;
  margin: 0px 10% 7px auto;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  font-family: National2-Medium;
  display: flex;
  background-color: transparent;

  color: #202124;
  text-align: center;
  padding-left: 45px;
}
button.redeem-btn:hover {
  background-image: none;
  background-color: black;
  color: white;
}
.hotncrispydiv {
  display: flex;
}
