.secblackmain{
    display: flex;
    justify-content: center;
    gap:20px;
    background-color: black;
    height:68px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 100px;

}
.secblactext{
    color: white;
}
.secblackbut{
    background-color: #E71A41;
    border-radius: 30px;
    height: 45px;
    line-height: 24px;
    font-size: 14px;
    color: beige;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;  
    padding-left:30px;
    padding-right:30px;
    cursor: pointer ;
}